<!DOCTYPE html>
<html>
<head>
    <title>Monitorando a Rota</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }


    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script async defer 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCM8IQGMY3D3LN_tXVlflFcJxq3ymKi8so&callback=initMap&libraries=places">
    </script>

</head>

<body>
<div id="map">
    <script>
        function initMap() {
            var originalLatLng = new google.maps.LatLng(-22.979107, -43.233083);
            map = new google.maps.Map(document.getElementById('map'), {
                center: originalLatLng, zoom: 8
            }); 
            marker = new google.maps.Marker({
                position: originalLatLng,
                map: map,
                draggable: false
            });
        }
        
        function updateMarker() {
            setInterval(function(){
                // aqui as lats e lngs devem ser as referentes as ultimas adicionadas no bd
                var lat = {{ coord["lat"]}}
                var lng = {{ coord ["lng"]}}
                var newlatlng = new google.maps.LatLng(lat,lng);
                marker.setPosition(newlatlng);
            }, 5000);
        }
        
        updateMarker();
    </script>

</div>

</body>
</html>
